# Problem 5. Linear Regression

#### Import the Library

In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import mean_squared_error

from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet

#### load the dataset

In [2]:
df = pd.read_excel( "training.xlsx" )
X, y = df[["X1","X2","X3","X4","X5","X6","X7","X8"]], df['Y2']

#### Perform feature scaling

In [3]:
X_scaled = StandardScaler().fit_transform(X)

#### Lasso model

In [4]:
# define model
_Lasso = Lasso()
# evaluate model
y_pred_Lasso = cross_val_predict(_Lasso,X_scaled,y,cv=5)
#printing mean squared error
print("MSE: %0.3f" % (mean_squared_error(y, y_pred_Lasso)))

MSE: 15.165

In [5]:
_Lasso.fit(X, y)
#comparing the values with Lasso Model Prediction
pd.DataFrame({'Actual': y, 'Predicted':y_pred_Lasso})

     Actual  Predicted
0     21.33  31.420633
1     21.33  31.420633
2     21.33  31.420633
3     21.33  31.420633
4     28.28  31.978019
..      ...        ...
763   21.40  18.943342
764   16.88  19.542735
765   17.11  19.542735
766   16.61  19.542735
767   16.03  19.542735

[768 rows x 2 columns]

#### Ridge Model

In [6]:
# define model
_Ridge = Ridge()
# evaluate model
y_pred_Ridge = cross_val_predict(_Ridge,X,y,cv=5)
#printing mean squared error
print("MSE: %0.3f" % (mean_squared_error(y, y_pred_Ridge)))

MSE: 11.549

In [7]:
_Ridge.fit(X, y)
#comparing the values with Ridge Model Prediction
pd.DataFrame({'Actual': y, 'Predicted':y_pred_Ridge})

     Actual  Predicted
0     21.33  28.972323
1     21.33  29.102972
2     21.33  29.233620
3     21.33  29.364269
4     28.28  30.420999
..      ...        ...
763   21.40  20.715463
764   16.88  21.391427
765   17.11  21.510345
766   16.61  21.629263
767   16.03  21.748180

[768 rows x 2 columns]

#### Elastic Net model

In [8]:
# define model
_ElasticNet = ElasticNet()
# evaluate model
y_pred_ElasticNet = cross_val_predict(_ElasticNet,X_scaled,y,cv=5)
#printing mean squared error
print("MSE: %0.3f" %  (mean_squared_error(y, y_pred_ElasticNet)))

MSE: 19.198

In [9]:
_ElasticNet.fit(X, y)
#comparing the values with Elastic Net Model Prediction
pd.DataFrame({'Actual': y, 'Predicted':y_pred_ElasticNet})

     Actual  Predicted
0     21.33  32.148541
1     21.33  32.148541
2     21.33  32.148541
3     21.33  32.148541
4     28.28  31.480921
..      ...        ...
763   21.40  19.925941
764   16.88  20.503657
765   17.11  20.503657
766   16.61  20.503657
767   16.03  20.503657

[768 rows x 2 columns]

#### -The mean Squared error for Ridge regression model is least.
#### -I took the default value of alpha(Lambda)